@model NTTShopAdmin.Entities.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PkUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PkUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar usuario", "Edit", new { idUser = Session["idUser"] }) |
    @Html.ActionLink("Volver atrás", "Index")
</p>
