
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@model NTTShopAdmin.Entities.ManagementUser

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Introduzca las credenciales del usuario administrador</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <table>
            <tr>
                <td>
                    Login:  
                </td>
                <td>
                    @Html.TextBoxFor(a => a.login)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.login)
                </td>
            </tr>
            <tr>
                <td>
                    Contraseña:  
                </td>
                <td>
                    @Html.PasswordFor(a => a.password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.password)
                </td>
                <br/>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
